/* Reto 5 */
body {
    background-color: #ffbee6;
}

h1 {
    color: brown;
}

p {
    color: #8b8b8bcc;
}

button {
    color: #fff;
    background-color: #025157;
}

form {
    text-align: right;
}

img {
    align-content: right;
}